In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import numpy as np

In [23]:
df = pd.read_csv("../0wt.csv")
df.tail(5)

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2  fof_Ow
185   18.5   0.881   0.892              0.886   0.751
186   18.6   0.881   0.892              0.886   0.755
187   18.7   0.881   0.892              0.886   0.754
188   18.8   0.870   0.892              0.881   0.754
189   18.9   0.870   0.892              0.881   0.753

In [3]:
df.corr()["rp(A)"]

rp(A)                1.000000
fof_Na              -0.935444
fof_Cl              -0.931807
(fof_Na+fof_Cl)/2   -0.934880
fof_Ow              -0.928590
Name: rp(A), dtype: float64

In [13]:
prof=ProfileReport(df)
prof.to_file(output_file="0wt%.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [18]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df["fof_Ow"],test_size=0.2,random_state=42)
X_train.head()

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2
51     5.1   1.000   1.000              1.000
35     3.5   1.000   1.000              1.000
118   11.8   0.881   0.892              0.886
60     6.0   1.000   1.000              1.000
161   16.1   0.881   0.881              0.881

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(X_train,y_train)

LinearRegression()

In [21]:
pred = lr.predict(X_test)
pred

array([0.75069518, 0.75062368, 0.77166641, 0.96829162, 0.79619962,
       0.99122974, 0.99131555, 0.99121544, 0.75118139, 0.77148051,
       0.77169501, 0.82136697, 0.99118684, 0.75085248, 0.86779945,
       0.7514817 , 0.79615672, 0.9549433 , 0.99064343, 0.99084363,
       0.99101524, 0.99110104, 0.75098119, 0.82133837, 0.92582279,
       0.77143761, 0.77149481, 0.99117254, 0.99080073, 0.93074822,
       0.74862819, 0.94603991, 0.99137275, 0.7513101 , 0.74861389,
       0.75086678, 0.90345668, 0.77165211])

In [22]:
z=lr.score(X_test,y_test)
z=100*z
print("%0.2f"%z,"%")

98.38 %