In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import numpy as np

In [2]:
df = pd.read_csv("../11wt.csv")
df.head()

   rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2  fof_Ow
0    0.0     1.0     1.0                1.0     1.0
1    0.1     1.0     1.0                1.0     1.0
2    0.2     1.0     1.0                1.0     1.0
3    0.3     1.0     1.0                1.0     1.0
4    0.4     1.0     1.0                1.0     1.0

In [3]:
df.corr()["rp(A)"]

rp(A)                1.000000
fof_Na              -0.928905
fof_Cl              -0.927885
(fof_Na+fof_Cl)/2   -0.928996
fof_Ow              -0.926901
Name: rp(A), dtype: float64

In [4]:
prof=ProfileReport(df)
prof.to_file(output_file="11wt%.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [20]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df["fof_Ow"],test_size=0.2,random_state=42)
X_train

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2
51     5.1   1.000   1.000              1.000
35     3.5   1.000   1.000              1.000
118   11.8   0.924   0.924              0.924
60     6.0   1.000   1.000              1.000
161   16.1   0.881   0.881              0.881
..     ...     ...     ...                ...
106   10.6   0.946   0.946              0.946
14     1.4   1.000   1.000              1.000
92     9.2   1.000   1.000              1.000
179   17.9   0.827   0.838              0.832
102   10.2   0.946   0.946              0.946

[152 rows x 4 columns]

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train,y_train)

LinearRegression()

In [23]:
pred = lr.predict(X_test)
pred

array([0.58863729, 0.58289173, 0.82800866, 1.00115861, 0.86192633,
       1.00523041, 1.00571903, 1.00514897, 0.72425573, 0.78117   ,
       0.83350991, 0.97095059, 1.0049861 , 0.68739198, 0.99952988,
       0.80484918, 0.86168202, 1.00107717, 1.00189153, 1.00303164,
       1.00400887, 1.00449749, 0.69346328, 0.91778194, 1.0009143 ,
       0.7809257 , 0.7515991 , 1.00490467, 1.00278733, 1.00034424,
       0.63687474, 1.00099573, 1.00604477, 0.72310124, 0.63522469,
       0.68747341, 1.00009994, 0.82792723])

In [24]:
z=lr.score(X_test,y_test)
z=100*z
print("%0.2f"%z,"%")

98.31 %