In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import numpy as np

In [11]:
df = pd.read_csv("../3wt.csv")
df.head()

   rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2  fof_Ow
0    0.0     1.0     1.0                1.0     1.0
1    0.1     1.0     1.0                1.0     1.0
2    0.2     1.0     1.0                1.0     1.0
3    0.3     1.0     1.0                1.0     1.0
4    0.4     1.0     1.0                1.0     1.0

In [12]:
df.corr()["rp(A)"]

rp(A)                1.000000
fof_Na              -0.918706
fof_Cl              -0.918047
(fof_Na+fof_Cl)/2   -0.918916
fof_Ow              -0.915338
Name: rp(A), dtype: float64

In [5]:
prof=ProfileReport(df)
prof.to_file(output_file="3wt%.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df["fof_Ow"],test_size=0.2,random_state=42)
X_train.head()

     rp(A)  fof_Na  fof_Cl  (fof_Na+fof_Cl)/2
51     5.1   1.000   1.000              1.000
35     3.5   1.000   1.000              1.000
118   11.8   0.881   0.881              0.881
60     6.0   1.000   1.000              1.000
161   16.1   0.870   0.881              0.876

In [15]:
lr = LinearRegression()

In [16]:
lr.fit(X_train,y_train)

LinearRegression()

In [17]:
pred = lr.predict(X_test)
pred

array([0.78479794, 0.79036503, 0.81413044, 0.99587817, 0.81186534,
       0.99788919, 0.99813051, 0.99784897, 0.77627803, 0.80250477,
       0.81421088, 0.83042957, 0.99776853, 0.78524037, 0.90512497,
       0.79544556, 0.81441199, 0.99583795, 0.99624015, 0.99680324,
       0.99728588, 0.9975272 , 0.78560235, 0.83301643, 0.99575751,
       0.79249671, 0.81098049, 0.9977283 , 0.99668258, 0.97715307,
       0.78507948, 0.99579773, 0.99829139, 0.79496292, 0.78503926,
       0.78528059, 0.9587095 , 0.81409022])

In [18]:
z=lr.score(X_test,y_test)
z=100*z
print("%0.2f"%z,"%")

99.29 %